/*--------------------------------------------------------------
. Tablet
--------------------------------------------------------------*/
@media (max-width: 960px) {

  /* Section Navbar */
  .img_wrapper {
    width: 100%;
    text-align: center;
    margin: 3rem 0 1rem 0;
  }

  .logo {
    float: none;
  }

  .navbar {
    margin: 1rem 0 0 0;
  }

  .navbar .main-nav {
    text-align: center;
  }

  .navbar .main-nav li {
    padding: 0 1rem 0 1rem;
    display: inline;
    float: none;
  }

  /* Section: Tech Challenge */
  .box_tc {
    position: relative;
    width: 100%;
    height: 50%;
    text-align: center;
  }

  /* Section: Welcome To Juno */
  .grid_wrapper article {
    text-align: center;

  }

  .box_welcome {
    position: relative;
    width: 100%;
  }

  /* Section: Footer */
  footer {
    height: 50%;
  }

  .footerinfo img {
    margin-bottom: 1em;
  }

  .footerinfo {
    width: 100%;
    padding: 40px 60px 50px 60px;
    text-align: center;
  }

  .footerinfo img {
    width: 50%;
  }

  footer .footerinfo p {
    margin-bottom: 1.5rem;
  }

  .footernav {
    border-top: 1px dotted rgb(255, 255, 255, 0.1);
  }

  .footernav a {
    text-align: center;
    float: none;
    padding: 0;
    margin: 0;
  }

  .footer_contact {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
  }

  form {
    border-bottom: 1px dashed rgb(255, 255, 255, 0.1);
  }
}

/*--------------------------------------------------------------
. Large Sized Mobile
--------------------------------------------------------------*/
@media(max-width: 770px) {

  /* Section: Welcome To Juno */
  .wrapper_welcome {
    text-align: center;
    padding: 10% 10% 10% 10%;
  }

  .fas {
    display: none;
  }

  /* Section Blog/News */
  .grid_wrapper {
    display: block;
  }

  .grid_wrapper article {
    margin-top: 3em;
  }

  /* Section #3: Footer */

  .footernav a {
    float: none;
    display: block;
    font-size: 0.9rem;
    padding: 10px 0 0 0;
    text-align: center;
  }

  footer .footerinfo p {
    margin-bottom: 0.2rem;
  }
}

/*--------------------------------------------------------------
. Medium Sized Mobile
--------------------------------------------------------------*/
@media(max-width: 500px) {

  /* Utility Class */
  .clr {
    margin: 0;
  }

  /* Section: Navbar */
  .navbar {
    display: none;
  }

  #sec1 {
    margin-top: 10rem;
  }

  .img_wrapper .logo {
    width: 65%;
  }

  /* Dropdown Navigation */
  .dropnav {
    width: 100%;
    height: auto 0;
    text-align: center;
  }

  .dropbtn {
    background-color: #D64C31;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    width: 106px;
    height: auto;
    border-radius: 10px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 106px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Montserrat', sans-serif; 
  }

  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #4A455C;
  }

  /* Section: Tech Challenge */
  #sec1 .box_tc h1 {
    font-size: 2.5rem;
  }

  #sec1 .box_tc h6 {
    font-size: 12px;
    line-height: 25px;
  }

  /* Section: Welcome To Juno */
  #sec2 {
    margin-top: 2rem;
  }

  .box_welcome .wrapper_welcome h1 {
    font-size: 2.5rem;
  }

  .box_welcome .wrapper_welcome h2 {
    font-size: 1rem;
  }

  /* Section: Blog */
  .grid_content h1 {
    font-size: 1.5rem;
  }

  .grid_content h6 {
    font-size: 0.7rem;
  }

  .grid_content p {
    font-size: 0.8rem;
    line-height: 25px;
    font-weight: lighter;
  }

  /* Section #4: Footer */
  .footer_contact {
    margin-top: 3rem;
    padding-top: 2rem;
    padding-bottom: 0;
    height: 310px;
  }

  .footer_contact h2 {
    padding-bottom: 30px;
    font-size: 0.8rem;
  }

  form .input-field {
    font-size: 0.5rem;
    width: 100%;
    height: 5em;
    text-align: center;
  }

  form button {
    font-size: 0.8em;
    height: 30px;
    width: 55%;
  }

  .footer_contact p {
    font-size: 1rem;
    line-height: 25px;
  }

  .icons i {
    font-size: 1em;
    padding-right: 1px;
  }

  footer .footerinfo h2 {
    font-size: 1rem;
  }

  footer .footerinfo p {
    font-size: 0.7rem;
    line-height: 25px;
  }

  .footerinfo {
    padding: 20px 30px 20px 30px;
  }
}

/*--------------------------------------------------------------
. Small Sized Mobile
--------------------------------------------------------------*/
@media(max-width: 375px) {

  /* Section: Tech Challenge */
  #sec1 .box_tc h1 {
    font-size: 1.7rem;
  }

  #sec1 .box_tc h6 {
    font-size: 9px;
    line-height: 22px;
  }

  /* Section: Blog  */
  .grid_content p {
    font-size: 0.6rem;
    line-height: 22px;
  }

  /* Section: Footer */
  .footer_contact {
    height: 340px;
  }

  .footer_contact p {
    font-size: 0.7rem;
    line-height: 23px;
  }

  .icons {
    margin-top: 10px;
    padding: 0 20px 30px 20px;
  }
}